body{
    background-color:#d9d9d9;
    height: -1000px;
}
.align{
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
}
.favicon{
    height: 40px;
    width: 40px;
}
.span-text{
    font-size: 40px;
    color: black;
}
.img{
    width: 100%;
    height: 500px;
    display: block;
    margin: 10px auto;
    border-radius: 30px;
}
.f-size{
    font-size: 40px;
}
.name{
    font-size: 50px;
    text-align: center;
    color: #fff;
}
.alignn{
    text-align: center;
}
.ul{
    margin: 470px ;
    margin-top: 0px;
    font-size: 25px;
}
.heading-about-us{
    font-size:35px;
    width:700px;
    height:60px;
    margin-left:430px;
    margin-top: -25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 10px;
    background-color:transparent;
    color:#404040;
}
.font-family{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
