.img{
    width: 1185px;
    height: 200px;
}
.box{
    background-color: hsl(120, 13%, 95%);
    height: 300px;
    width:200px;
    display:flex;
    justify-content: space-around;
    margin: 10px;
    border:solid rgb(215, 187, 175) 2px;
    box-shadow:2px 2px 2px 2px #99a192;
    border-radius: 10px;
}
.img1{
    height:200px;
    width: 190px;
    border:solid rgb(255, 255, 255) 4px;
    border-radius: 10px;
    margin-bottom:auto;
}

.rs{
    height: 10px;
    width:10px;
}
.btn{
    border: none;
    border-radius:20px;
    text-align: center;
    text-align: center;
    width: 90px;
    margin-left: 20px;
    height: 35px;
}
.oppo{
    display: flex;
    justify-content:center;
    background-color: aliceblue;
    height: 40px;
    margin-top: none;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.flex{
    display: flex;
    background-color: rgb(246, 209, 235);
    margin-top: 30px;
    flex-direction: column;
}
.sb1{
    background-color: blueviolet;
    justify-content: end;
    height: 50px;
    width: 500px;
    display: inline-block;
}
.hover:hover{
    background-color: black;
    color: aliceblue;
    transition: 0s;
}