

.btn4{
    border: none;
    border-radius:20px;
    text-align: center;
    width: 90px;
    margin-left: 20px;
    height: 35px;
}
.oppo{
    display: flex;
    justify-content:center;
    flex-direction: row;
    background-color: aliceblue;
    height: 40px;
    margin-top: none;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.hover12:hover{
    background-color: black;
    
    transition: 0s;
}
.oppo-cards-box{
    display: flex;
    flex-direction:column;
    justify-content:center;
    width:100%;
    height: 620PX;
    background-color: antiquewhite;
    margin-top: 20px;
    text-align: center;
    padding: 30px 0;

    
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.oppo-card1{
    height: 500px;
    width:270px;
    margin: 20px 20px;
    background-color: white;
    border-radius: 20px;

}
.oppo-1-img{
    height: 300px;
    width: 250px;
    margin: 10px;
    margin-top: 25PX;
}
.info{
    background-color:gray;
    border-radius:0 0 20px 20px;
    font-size: 20px;
    font-family: "Averia Sans Libre", sans-serif;
    text-align: start;
    align-items: center;
}
.font-size251{
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
}
.btn41{
    border: none;
    border-radius:20px;
    text-align: center;
    width: 90px;
    margin-left: 20px;
    height: 35px;
    background-color: black;
    color: white;
}
.anchor{
    text-decoration: none;
}
.v-header-btn-Oppo{
    width: 120px;
    height: 40px;
    border-radius: 30px;
    border: none;
    padding: -2px;
    font-size: 18px;
    margin: 50px auto;
    margin-left:30px;
    margin-right:30px;
    color:black;
    background-color:#f2f2f2;
    border: solid none 1px;
    border-radius: 30px;
    box-shadow: 0 0 3px 1px whitesmoke;
    cursor: pointer;
}
.v-header-btn-Oppo:hover{
    background-color:#a6a6a6;
    color: whitesmoke;
    box-shadow: 0 0 10px 3px ;
    transition: 1sec;
}