body{
    background-color:gainsboro;
 }
 .off-video-heading{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
 }
 #image1{
    height: 300px;
    margin-top: 20px;
 }
 .samsung-video{
     position: relative;
     top: 100px;
     left: 130px;
 }
 .samsung-heading{
     position: relative;
     top: 50px;
     right: 420px;
     font-size:120px;
     color: white;
 }
 .font-size25{
     font-size: 25px;
     font-weight: bold;
 }
 .font-size15{
     font-size:20px;
 }
 .font-family-a{
     font-family: "Averia Sans Libre", sans-serif;
 }
 .samsung-header{
     width: 1400px;
     height: 130px;
     background-color:transparent;
     align-items: center;
     margin-left: 50px;
     margin-bottom: 40px;
     border-radius: 30px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     background-color: whitesmoke;
     box-shadow:0 0 3px 1px darkgray;
 }
 .s-header-btn{
     width: 100px;
     height: 40px;
     border-radius: 30px;
     border: none;
     padding: -2px;
     font-size: 18px;
     margin: 50px auto;
     margin-left:30px;
     margin-right:30px;
     color:black;
     background-color:none;
     border: solid none 1px;
     border-radius: 30px;
     box-shadow: 0 0 3px 1px whitesmoke;
     cursor: pointer;
 }
 .s-header-btn:hover{
     background-color:black;
     color: whitesmoke;
     box-shadow: 0 0 10px 3px ;
     transition: 1sec;
 }
 /*----------------cards---------------------*/
 .samsung-cards-box{
     display: flex;
     flex-direction:row;
     flex-wrap: wrap;
     justify-content:space-evenly;
     width:100%;
     height:1100px;
     background-color: antiquewhite;
     
 }
 .samsung-card1{
     height: 400px;
     width:300px;
     margin: 20px 20px;
     background-color: white;
 }
 .samsung-1-img{
     height: 300px;
 }
 .samsung-2-img{
     height: 300px;
     padding: 10px;
 }
 .info{
     background-color:gray;
     border-radius:0 0 20px 20px;
     font-size: 20px;
     font-family: "Averia Sans Libre", sans-serif;
     text-align: start;
     align-items: center;
     height: 100%;
}

.pheading{
    margin: 50px,50px;
    padding: 10px;
    text-align: center;
    color:slategrey;
}
.sec{
    padding: 10px, 5%;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
}

.products .card{
    width: 300px;
    height: 500px;
    background:wheat ;
    box-shadow: 0,10px,20px rgba(0, 0, 0, 0,3);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
}
.products .card img{
    width: 100%;
    height: 190px;
}
.products .card .desc{
    padding: 5px,20px;
    opacity: 0.8;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: blueviolet;
}

.products .card .title
{
    font-size: 20px;
    color:violet;
    padding: 0 20px;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    color: rgb(21, 18, 24);
    background-color:burlywood;
    border-radius:20px;
    font-size: 20px;
    font-family: "Averia Sans Libre", sans-serif;
   
    align-items: center;
}

.products .card .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:burlywood;
    border-radius:20px;
    font-size: 20px;
    font-family: "Averia Sans Libre", sans-serif;
    text-align: start;
    align-items: center;
}

.products .card .imgRating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 50px;
    width: 200px;
}
.fontsize{
    font-size: 20px;
    font-weight: bold;
}
.products .card .price{
    padding: 5px;
    margin: 5px;
    color: rgb(244, 111, 9);
    font-size: 25px;
    align-items:end;
    font-weight: bold;
    
    border-radius:20px;
    font-size: 20px;
    font-family: "Averia Sans Libre", sans-serif;
    text-align: start;
    align-items: center;

}
.products .card .box .order{
   
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    color: rgb(8, 71, 71);

}


.products .card .box .BuyBtn{
    color: rgb(198, 22, 25);
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid tomato;
    border-radius: 20px ;

}

.samsung-cards-box{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    width:100%;
    height:1100px;
    background-color: antiquewhite;
    
}

.products .card .box .BuyBtn:hover{
    cursor: pointer;
    background-color: brown;
    color: white;
}
.background-img-samsung{
    background-image: url("./../Images/index-img/sec-1-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 400px;
}

.samsung-header{
    width: 1400px;
    height: 130px;
    background-color:transparent;
    align-items: center;
    margin-left: 50px;
    margin-top: -25px;
    margin-bottom: -100px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: whitesmoke;
    box-shadow:0 0 3px 1px darkgray;
}
.s-header-btn{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border: none;
    padding: -2px;
    font-size: 18px;
    margin: 50px auto;
    margin-left:30px;
    margin-right:30px;
    color:black;
    background-color:none;
    border: solid none 1px;
    border-radius: 30px;
    box-shadow: 0 0 3px 1px whitesmoke;
    cursor: pointer;
}
.s-header-btn:hover{
    background-color:black;
    color: whitesmoke;
    box-shadow: 0 0 10px 3px ;
    transition: 1sec;
}
.footer{
    color: black;
    font-size: 20px;
    font-weight: 50px;
    text-align: center;
}
