body{
    margin: 0;
    padding: 0;
}
.heading{
        font-size: 33px;
        width:50%;
        height:60px;
        margin-left: 400px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
        padding-top: 10px;
        background-color:transparent;
        color: white;
}
.heading:hover{
    border: dotted gainsboro 1px;
    box-shadow: 0 0 7px 2px white;
    border-radius: 30px;
}
.span{
    color:#737373;
}
.font-family{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.font-family-normal{
    font-family:'Arial', sans-serif;
    font-weight: 100;
    font-size:18px;
}
.header{
    width: 100%;
    height: 90px;
}
.text-center{
    text-align: center;
}
.no-underline{
    text-decoration: none;
}
.logo{
    position:relative;
    margin-top:5px;
    height: 70px;
    width: 175px;
    left:10px;
    top:5px;
}
.search{
    left:350px;
    top:-55px;
    height:35px;
    width: 80px;
    position:relative;
}
.search-box{
    height:23px;
    border: solid black 1px;
    border-radius: 40px;
    background-color:transparent;
    text-align: right;
    padding: 4px 10px;
}
.search-logo{
    height: 20px;
    width: 20px;
    position:absolute;
    left:6px;
    top:3px;
    margin: 3px;
    margin-top: 4px;
}
.header-menu{
    position: relative;
    display: flex;
    left: 900px;
    top:-89px;
    flex-direction: row;
    justify-content: center;
    margin-left: -250px;
    width: fit-content;
}
.font{
    font-family:sans-serif;
    font-weight: 100;
}
.pages{
    margin: auto 20px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: black;
    height: 10px;
    padding:7px 20px 15px 20px;
    width:74px;
    border: solid transparent 1px;
    border-radius: 30px;
    background-color: white;
    cursor: pointer;
}
.pages:hover{
    background-color:#a6a6a6;
    color: whitesmoke;
    box-shadow: 0 0 10px 3px ;
    transition: 1sec;
}
.shopping-cart{
    height: 33px;
    width: 33px;
    margin-left: 10px;
}
.footer{
    width: 100%;
    background-color:white;
    height:250px;
}
.footer-icon{
    height: 30px;
    width: 30px;
    margin:10px 10px;
}
.footer-icon-div{
    margin-left:620px;
    padding-top:50px;
}
.footer-icon-text{
    margin-left:630px;
    padding-top:10px;
}
.black{
    color: black;
}
.cate-pg-heading{
    color: white;
    font-size:45px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.btn-category{
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border: none;
    padding: -2px;
    font-size: 18px;
    margin-left: 100px;
    background-color:#595959;
    color: white;
    margin-top: -50px;
}
.index-background{
    background-color:#d9d9d9;
    height:780px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#d9d9d9;
    height: 250px;
    width: 100%;
}
.footer-cate-pages{
    position: relative;
    top: 2000px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:white;
    height: 250px;
    width: 100%;
    margin-top: 60px;
}
.footer-contact-pages{
    position: relative;
    top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:white;
    height: 250px;
    width: 100%;
    margin-top: 10px;
}
.footer-contact-copywrites{
    position: relative;
    top:220px;
    background-color: white;
    margin-top: -10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.footer-copywrites{
    position: relative;
    top: 2010px;
    background-color: white;
    margin-top: -10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}
.footer-cards{
    height: 200px;
    width: 200px;
    margin:15px auto;
}
.size-footer{
    font-size:20px;
    font-weight:bold;
}
.copywrite{
    background-color: #737373;
    height:70px;
}